body {
    text-align: center;
    font-family: American Typewriter, serif;
}
.bg {
    background: black url("IMAGES/4.jpg") no-repeat center fixed;
    background-size: cover;
    filter: blur(8px);
    position: absolute;
    z-index: 1;
    height: 120%;
    width: 100%;
    left: 0;
    right: 0;
    transition-property: filter;
    transition-duration: 500ms;
}

/* 'Student Timmy' */
h1 {
    font-family: Chalkduster, fantasy;
    color: white;
}

/* Box Photograph */
.mainImg {
    border: 5px solid black;
}

/* Blog | Github | Portfolio */
.links {
    max-width: 200px;
    margin: 0 auto;
}
a:link {
    text-decoration: none;
    color: grey;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
}
.unlist, .unlist:link, .unlist:visited {
    color: grey;
}
.unlist:hover {
    color: orange;
}
.linkProject {
    float: center;
    margin-right: 37px;
}
.linkProject li {
    text-align: center;
    display: inline-block;
    width: 10%;
    background-image: url("IMAGES/board.jpg");
    border: 2px solid black;
    width: 50%;
}
input {
    font-family: Brutality;
    background-image: url("trippy.gif");
    background-position: center;
    background-size: cover;
    box-shadow: 0px 1px 10px red;
    border-color: yellow;
}
input:hover {
    color: red;
}
@font-face {
    font-family: 'Brutality';
    src: url(BRUTALITYEXTRA.ttf);
}
.row {
    /* border: 5px solid red; */
    margin: 0 auto;
}
.column {
    /* border: 5px solid cyan; */
    margin: 0 auto;
    z-index: 2;
}