/*-----------------------GENERAL-----------------------*/
body {
    background-color: black;
    color: white;
    max-width: 1400px;
    margin: 0 auto;

}
/*-----------------------CURRENT-PAGE------------------*/
/*
noscript {
    background-color: red;
    color: yellow;
    font-size: 30px;
    text-align: center;
}
/*-----------------------HEADER(S)---------------------*/
.RESTAURANT-header {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Tropical;
  
    width: 100%;
    margin: 0 auto;
    right: 1px;
}
h1 {
    font-family: Tomatoes;
    text-decoration: underline;
}
h2 {
    font-size: 25px;
    color: yellow;
}
.navLinks {
    text-align: left;
    font-size: 25px;
}
@media (max-width: 700px) {
    .navLinks {
        text-align: center;
    }
}
/*-----------------------HEADLINE----------------------*/
hr {
    border: 10px solid white;
    opacity: 0.05;
    width: cover;
}
h3:hover {
    color: red;
}
/*------------------HOME-BODY--------------------------*/
.HOME-BODY {
    background-attachment: fixed;
    background-image: url("ASSETS/IMG/HOME/theme-3.jpg");
    font-family: Chalkduster, fantasy;
    text-align: center;
    margin: 0 auto;
    color: white;
    */
}
.HEADER-BODY {          
    background-image: url("ASSETS/IMG/HOME/home.jpg");
    background-attachment: fixed;
    box-shadow: 0px 5px 2000px black;
    box-shadow: 0px 5px 500px black;
    box-shadow: 0px 20px 100px black;
    box-shadow: 0px 20px 50px black;
    transition-duration: 1000ms;
}
.HEADER-BODY .s {
    bottom: -1px;
    cursor: s-resize;
}
.HEADER-BODY:hover {
    box-shadow: 0px 20px 50px darkorange;
}
.HEADER-SHADOW {
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 620px;
    transition-duration: 1000ms;
    transition-property: background;
}
.HEADER-SHADOW:hover {
    background-color: rgba(0, 0, 0, 0);
}
.HEADER-SHADOW:active {
    background-color: rgba(0, 0, 0, 0.75);
}
.ROW-1 { 
}/*
.ROW-2 {
    background-color: rgba(0, 0, 0, 0.5);}*/
.HOME-BODY input {
    background-color: black;
    background-image: url("ASSETS/IMG/HOME/board.jpg");
    border: none;
    border-radius: 25%;
    width: 320px;
    height: 50px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0px 1px 10px orange;
    box-shadow: green;
    box-shadow: 0px 3px 20px rgba(255, 255, 255, 0.38); */
}
.HOME-BODY input:hover {
    text-shadow: none;
    box-shadow: 0px 3px 20px white;
}
.HOME-BODY input:click {
    box-shadow: green;
    box-shadow: 0px 3px 20px green;
}
.vid {
    width: cover;
    margin: 0 auto;
}
.blabber {
    padding: 0px 30px 0px 30px;
}


/*-----------------------WRITING-----------------------*/

.row {
    background-color: rgba(0, 0, 0, 0.38);
    opacity: 100%;
    display: flex;
    border: 5px solid red;
    
}
/*-----------------------IMAGES------------------------*/
.sectionWrite {
    background-color: rgba(0, 0, 0, 0.38);
    opacity: 100%;
    border-radius: 5%;
    font-size: 18px;
    font-family: Nightmare;
    width: 600px;
    height: 600px;
  
}

.candleImg {
    border-radius: 5%;
    nav-up: auto;
    margin: 0 auto;
    width: 600px;
    height: 600px;
    box-shadow: -8px 20px 2px black;
    box-shadow: -10px 20px 2px black;
    box-shadow: -20px 20px 50px black;
}
/*-----------------------LINKS-------------------------*/
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: underline;
    font-family: cursive;
}
a:hover {
    color: grey;
    text-decoration: none;
}
.storeInfo {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Tropical;
}
/* BUTTON */
/*
#navBTN {
    background-image: url("navIcon.png");
    background-position: center;
    background-size: cover;
    border: 5px solid black;
    height: 50px;
    width: 50px;
    position: fixed;
    cursor: pointer;
    bottom: 10px;
    margin: 0 auto;
    opacity: 25%;
    left: 95%;
}

@media (max-width: 500px) {
    #navBTN {
        left: 40%;
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 1000px) {
    #navBTN {
        left: 90%;
    }
}

#navBTN:hover {
    opacity: 75%;
}
/*-----------------------THE-END-----------------------*/
.column {
    /* border: 5px solid cyan; */
}
.row {
    /* border: 5px solid red; */
}
/*
column p {
    padding: 20px 20px 20px 20px;
}
.ROWW {
    background-color: rgba(0, 0, 0, 0.5);
}
.ROWW p {
    background-color: rgba(0, 0, 0, 0.75);
}
.ROWW h2 {
    background-color: rgba(0, 0, 0, 0.88);
}
/*-- FONT FACES --*/
@font-face {
    font-family: "Tomatoes";
    src: url("Tomatoes-O8L8.ttf");
}

@font-face {
    font-family: "Tropical";
    src: url("TropicalAsianDemoRegular-11V0.ttf");
}

@font-face {
    font-family: "Nightmare";
    src: url("NightmarePills-BV2w.ttf");
}

@font-face {
    font-family: "Fall";
    src: url("FallIsComingRegular-Mx9B.ttf");
}