body {
    background-color: black;
}
.header {
    background-attachment: fixed;
    background-image: url("CkY2HP.png");
    background-size: cover;
    background-position: center;
    height: 820px;
}
.navigation {
    background-image: url("Unilever.gif");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 600px;
    margin: 0 auto;
    box-shadow: 0px 1px 15px rgba(255, 255, 0, 0.5);
}
.cover {
    background-color: rgba(0, 0, 0, 0.05);
    height: 200px;
    width: cover;
}
.TITLE {
    text-align: center;
    margin: 0 auto;
    padding: 5px 5px;
    color: white;
    width: cover;
    background-color: rgba(0, 0, 0, 0.8);
}
h1:hover {
    color: white;
    opacity: 100;
}



.body {
    background-attachment: fixed;
    background-image: url("563373.jpg");
    background-size: cover;
    background-position: center;
    width: cover;
    height: 2000px;
}
.bodyNavigation {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("After-Effects-Project-Files-Logi.gif");
    background-size: 500px 300px;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
    /* box-shadow: 0px 25px 50px black; */
    box-shadow: 0px 30px 50px rgb(0, 255, 255, 0.15);
}
.bodyNavigation:hover, .nodeHeader:hover, .navigation:hover {
    box-shadow: 0px 1px 15px yellow; 
}

.toolsNav {
    margin: 0 auto;
    /* border: 10px solid red; */
    justify-content: space-around;
    /*
    margin-left: 100px;
    margin-right: 100px;
    */
}
input {
    color: white;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 100px; /* height, width */
    margin: 1px 10px;
    border: none;
    border-radius: 25%;
    box-shadow: 0px 1px 20px black;
    margin-top: 30px;
    width: 350px;
    
}
input:hover {
    box-shadow: 0px 1px 20px lime;
    background-color: rgba(0, 0, 0, 0.86);
}
.row {
    justify-content: space-around;
    /* border: 5px solid yellow; */
}
.column {
    /* border: 5px solid blue; */
}
.nodeSection {
    background-attachment: fixed;
    background-image: url("563358.jpg");
    background-size: cover;
    background-position: center;
    width: cover;
    height: 2000px;
}
.btnScroll {
    position: fixed;
    bottom: 10px;
    left: 680px;
    cursor: pointer;
    opacity: 25%;
}
.btnScroll:hover, .backGIF:hover {
    opacity: 100%;
}
.backGIF {
    position: fixed;
    opacity: 5%;
    bottom: 0px;
    right: 638px;
    cursor: pointer;
}
.nodeHeader {
    background-image: url("Unilever.gif");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: cover;
    margin: 0 auto;
    box-shadow: 0px 30px 100px rgb(255, 255, 255, 0.15);
}
h2 {
    text-align: center;
    padding: 5px 5px;
    color: white;
    width: 2000px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 30px 50px rgb(0, 255, 255, 0.15);
}
.nodeInfo {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0);
}
.INPUT {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
li {
    text-align: left;
    list-style-type: circle;
}
ul {
    /* text-indent: 80px; */
}
.INPUT h4 {
    text-decoration: underline;
    background-color: rgba(255, 60, 0, 0.25);
    background-size: cover;
    width: cover;
    box-shadow: 0px 5px 50px rgb(255, 136, 1);
    text-shadow: 0px 5px 50px rgba(0, 0, 0);
}
.SHADER h4 {
    text-decoration: underline;
    background-color: rgba(0, 255, 106, 0.25);
    background-size: cover;
    width: cover;
    box-shadow: 0px 5px 50px rgb(113, 242, 193);
    text-shadow: 0px 5px 50px rgba(0, 0, 0);
}
.TEXTURE h4 {
    text-decoration: underline;
    background-color: rgba(246, 178, 108, 0.25);
    background-size: cover;
    width: cover;
    box-shadow: 0px 5px 50px rgb(246, 178, 108);
    text-shadow: 0px 5px 50px rgba(0, 0, 0);
}
.COLOR h4 {
    text-decoration: underline;
    background-color: rgb(251, 255, 0, 0.25);
    background-size: cover;
    width: cover;
    box-shadow: 0px 5px 50px rgb(235, 217, 43);
    text-shadow: 0px 5px 50px rgba(0, 0, 0);
}
.nodeROW {
    border: 5px solid red;
    padding-top: 80px;
    padding-bottom: 80px;
}
.nodeCOL {
    /* border: 5px solid cyan; */
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    width: cover;
}
b {
    text-align: left;
    text-indent: -20px;
}
.nodeROWHeader {
    /* border: 3px solid red; */
}